@import '../../scss/breakpoints';
@import '../../scss/vars';

.main {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 0 40px 0 0;
    min-height: 600px;

    @media screen and (max-width: $tablet-max) {
      width: $tablet;
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 0 55px 0 0;
  }

  .CreateNewProjectWrap {
    bottom: 0;
    width: 100%;
    padding: 0 0 30px;
    text-align: center;

    // Btn
    .CreateNewProject {
      width: 44px;
      height: 44px;
      margin-bottom: 11px;
      cursor: pointer;
      border-radius: 50%;
      transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

      &:focus,
      &:hover {
        outline: none;
        box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
        transform: scale(1.15);
      }
    }

    & > span {
      display: block;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.04em;
    }
  }
  // }

  article {
    @media screen and (max-width: $mobile-max) {
      padding: 30px 20px 30px 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 414px;
    }

    @media screen and (min-width: $tablet) {
      position: relative;
      padding: 40px 0 30px 20px;
    }

    @media screen and (min-width: $desktop) {
      padding: 40px 0 40px 70px;
    }

    .sprintsBtn{
      margin-right: 20px;
    }

    .headerWrap {
      margin: 0 0 30px;

      @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
      }

      .contentWrap {
        @media screen and (min-width: $tablet) {
          width: 452px;
        }

        @media screen and (min-width: $desktop) {
          width: 400px;
        }

        .titleWrap {
          display: flex;
          align-items: baseline;
          margin-bottom: 20px;
          h2 {
            margin-right: 20px;
            font-size: 26px;
            font-weight: 500;
            letter-spacing: 0.04em;
            // добавить троеточие в конце длинных названий
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @media screen and (max-width: $mobile-max) {
              width: 260px;
            }
            @media screen and (min-width: $tablet) {
              font-size: 36px;
            }
          }
          .buttonChange {
            border-radius: 50%;
            cursor: pointer;
            border: none;
            min-width: 20px;
            height: 20px;
            background-color: #a6a6a6;
            background: url(./svg/btnChange.svg) no-repeat;
            transition: all 0.25s linear;
            &:hover,
            &:focus {
              background: url(./svg/btnChangeActive.svg) no-repeat;
              transform: scale(1.2);
            }
          }
        }

        p {
          margin: 0 0 30px;
          letter-spacing: 0.04em;

          @media screen and (max-width: $mobile-max) {
            font-size: 14px;
          }

          @media screen and (min-width: $tablet) {
            line-height: 22px;
          }
        }

        .addWrap {
          display: flex;
          align-items: center;

          .AddGroupIcon {
            cursor: pointer;
            margin-right: 10px;
          }
          span {
            line-height: 16px;
            letter-spacing: 0.04em;
            color: $text-dark;
            border-bottom: 1px solid $text-dark;
            cursor: pointer;
          }
        }
      }

      // div
      .createSprintWrap {
        @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
          position: absolute;
          right: 0px;
        }

        @media screen and (min-width: $desktop) {
          display: flex;
          align-items: center;
          height: 52px;
        }

        // Circle with plus ("button")
        .CreateNewSprint {
          cursor: pointer;
          width: 44px;
          height: 44px;
          border-radius: 25px;

          transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
          &:focus,
          &:hover {
            outline: none;
            box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
            transform: scale(1.15);
          }
          @media screen and (min-width: $desktop) {
            margin-right: 16px;
          }
        }
      }
    }
  }
}

// Circle with plus ("button" Fixed)
.CreateNewSprintFixed {
  position: fixed;
  right: 10px;
  bottom: 60px;
  cursor: pointer;
  z-index: 2;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
    transform: scale(1.15);
  }
}

.inputChangeTitle {
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: 2px 4px 8px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  @media screen and (max-width: $mobile-max) {
    width: 260px;
    height: 64px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
    width: 334px;
    height: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 40px;
    height: 44px;
  }
}

.changeTitleForm {
  display: none;
}

.changeTitleFormActive {
  display: flex;
  align-items: center;
}

.buttonSave {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  background: center url(./svg/saver.svg) no-repeat;
  background-size: 18px;
  &:hover,
  &:focus {
    background: center url(./svg/saverActive.svg) no-repeat;
    background-size: 18px;
  }
}

.swalButton {
  background-color: $main-orange;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  transition: all 300ms ease;
  padding: 11px 44px;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  outline: none;
  &:hover {
    color: $main-orange;
    font-weight: 800;
    box-shadow: 0px 4px 10px 4px rgba(255, 107, 8, 0.3);
    outline: none;
  }
}
