@import '../../scss/vars';
@import '../../scss/breakpoints';

.container{
  width: 1000px;
  margin: 0 auto;
}

.DashboardHeader {
  padding: 20px 0 0px 0;
  &:last-child{
    padding-top: 20px;
  }
}

.DashboardTitle{
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
}

.SprintStatisticsSelect{
  margin-top: 20px;
}

.DashboardEmptyWidget{
  text-align: center;
  height: 300px;
  padding-top: 150px;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  border-style: dashed;
}