@import '../../scss/breakpoints';

aside.Aside {
  padding: 0 0 0 0;

  @media screen and (max-width: $mobile-max) {
    min-width: 100%;
    border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    width: 256px;
    // width: 216px;
  }

  @media screen and (min-width: $tablet) {
    min-height: calc(100vh - 129px);
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }

  @media screen and (min-width: $desktop) {
    width: 255px;
    // width: 200px;
  }
}
