@import '../../scss/breakpoints';
@import '../../scss/vars';

// a
.showProjectsLink {
  background-color: pink;
  color: #181c27;
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile-max) {
    padding: 0 0 0 20px;
    height: 37px;
    width: 250px;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 0 0 40px;
    margin-bottom: 7vh;
    height: 70px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 0 0 55px;
    margin-bottom: 40px;
  }

  .Arrow {
    margin-right: 15px;
  }

  & > span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}
