@import '../../scss/breakpoints';
@import '../../scss/vars';

.listWrapper {
  width: 282px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0 auto;
}

.listFavoriteWrapper {
  width: 282px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  margin: 0 auto;
}

.listItem {
  border-radius: 5px;
  height: 136px;
  position: relative;
  transition: all 0.1s linear;
  transform: scale(1);

  &:nth-child(3n + 1) {
    background-color: $project-purple;
    &:hover,
    &:focus {
      box-shadow: 0px 6px 26px 0px rgba(140, 114, 223, 0.4);
    }
  }

  &:nth-child(3n + 2) {
    background-color: $project-rose;
    &:hover,
    &:focus {
      box-shadow: 0px 6px 26px 0px rgba(255, 118, 95, 0.4);
    }
  }

  &:nth-child(3n) {
    background-color: $project-yellow;
    &:hover,
    &:focus {
      box-shadow: 0px 6px 26px 0px rgba(113, 223, 135, 0.4);
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

@media screen and (min-width: $tablet) {
  .listItem {
    &:nth-child(4n + 1) {
      background: bottom url(./Pictures/FirstWave.svg) no-repeat;
      background-size: contain;
    }

    &:nth-child(4n + 2) {
      background: bottom url(./Pictures/SecondWave.svg) no-repeat;
      background-size: contain;
    }

    &:nth-child(4n + 3) {
      background: bottom url(./Pictures/ThirdWave.svg) no-repeat;
      background-size: contain;
    }
    &:nth-child(4n) {
      background: bottom url(./Pictures/FourthWave.svg) no-repeat;
      background-size: contain;
    }
    &:nth-child(4n + 1) {
      background-color: $project-purple;
    }

    &:nth-child(4n + 2) {
      background-color: $project-rose;
    }

    &:nth-child(4n) {
      background-color: $project-yellow;
    }

    &:nth-child(4n + 3) {
      background-color: $project-blue;
    }
  }
}

@media screen and (min-width: $mobile) and (max-width: $mobile-max) {
  .listItem {
    &:not(:nth-child(2n)) {
      margin-right: 10px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $tablet-max) {
  .listWrapper {
    width: 688px;
  }

  .listItem {
    height: 216px;
    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .listWrapper {
    width: 1170px;
  }
  .listFavoriteWrapper {
    width: 1170px;
  }

  .listItem {
    height: 270px;
    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
    }
  }
}


.ProjectFavoriteEmptyWidget{
  text-align: center;
  height: 300px;
  padding-top: 150px;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  border-style: dashed;
}
