@import '../../scss/vars';

.btnDelete {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  transition: all 0.2s linear;
  color: gray;

  &:hover{
    color: #FF7464;
  }
}
