$main-font: 'Montserrat', sans-serif;

$text-dark: #181c27;
$text-light: rgba(24, 28, 39, 0.6);
$text-white: #ffffff;

$main-orange: #ff6b08;
$goit-logo-orange: #ff6c00;

$main-background: #f1f2f7;
$form-background: #ffffff;
$main-border: 1px solid rgba(24, 28, 39, 0.1);
$main-shadow: 0px 6px 26px 0px rgba(0, 5, 97, 0.1);
$dark-overlay: rgba(24, 28, 39, 0.25);

$form-reg-background: #fafafa;

$form-input-border: 1px solid rgba(24, 28, 39, 0.2);
$form-input-error: #ff2c0c;

$project-purple: #8c72df;
$project-rose: #ff765f;
$project-yellow: #FFA957;
$project-blue: #00A2D4;

$sprint-card-description: #000000;

$calendar-title: #1b1c20;
$calendar-background: rgba(255, 255, 255, 0.7);

$diagram-blue: #1988ee;
$diagram-red: #fa3b3f;

// Modal, SprintPage
$primaryWhiteColor: #ffffff;
$primaryShadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
$modalBg: rgba(24, 28, 39, 0.25);
